body
{
    background-image:url('Add\ a\ heading.jpg');
     background-size: 1600px;
}
html
{
color-scheme:whitesmoke;

}
div
{
    border-radius: 30px;
    text-align: center;
    background-color: black;
    border-color: whitesmoke;
    opacity: 0.5;
    
}
button{
text-align: center;
background-color: black;
border-color: whitesmoke;
opacity: 0.5;
border-radius: 30px;
font-size: larger;

}