body{
color: white;
background-image: url("Add\ a\ heading.jpg");
text-align: center;

}
#output
{
background-color: black;
opacity: 0.5;
color: white;
border-color: white;
border-radius: 50px;
border-width: 30px;
float:none;
padding: 10px;
text-align: left;
font-size: larger;
}
.won
{
background-color: black;
opacity:0.5;
}